*{
    margin: 0;
    border: 0;
    padding: 0;
    
    font-family: sans-serif;
}
header{
    display: flex;
    background-color: #DC0C0C;
    height: 10vh;
    align-items: center;
}
#paginasBarra{
    display: flex;
    align-items: center;
    width: 100vw;

}
.paginasBarras{
    display: flex;
    align-items: center;
    width: 100vw;

}
.paginasBarra{
    text-align: center;
    list-style: none;
    font-size: x-large;
    font-family: sans-serif;
    color: bisque;
    border-right: solid 1px gray;
    width:100%;
}
ul{
    align-items: center;
}
ol {
    list-style-type:decimal;
  }
a{
    text-decoration: none;
    color: bisque;
}
main{
    display: flex;
    border: solid 1px black;
    align-items: center;
    justify-items: center;
    background-color: aliceblue;
}
.listasServicosSetores{
    background-color: #D9D9D9;
    width: 20vw;
    height: 90vh;
}
#criarOS{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
}
#imagemLogoCriar{
    max-width: 20vw;
    max-height: 10vh;
}
#textOS{
    width: 30vw;
    height: 8vh;
    border: solid 1px #DC0C0C;
    border-radius: 15px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: xx-large;

}
#areaCodigoOSCriar{
    display: flex;
}
#codigoCriarOS{
    border: solid 1px gray;
    width: 5vw;
}
#botoesRadio{
    display: flex;
    margin-top: 1%;
}
.radios{
    margin-left: 10px;
    
}
#botaoCriar{
    width: 10vw;
    height: 3vh;
    background-color: greenyellow;
    margin-top: 1%;
    border-radius: 10px;
    cursor:pointer;
    
}
#botaoCriar:hover{
    
    border: inset ;
}